/*COLOCANDO COR DE FUNDO NO CABEÇALHO */
header {
    background-color: #2d4132;
    /*COR DE FUNDO DO CABEÇALHO */
    font-family: poppins, sans-serif;
    /*FONTE DO CABEÇALHO */
    color: #FFFFFF;
    /*COR DO TEXTO DO CABEÇALHO*/
}

nav a {
    color: #FFFFFF;
    /*COR DO TEXTO DO MENU DE NAVEGAÇAO */
    text-decoration: none;
    /*REMOVE O SUBLINHADO DOS LINKS /*
    margin: 0 10px; /*ESPACAMENTO ENMTRE OS LINKS */
    text-align: CENTER;
    /*ALINHAMENTO DO TEXTO DOS LINKS */
}

nav {
    text-align: center;
    /*ALINHAMENTO DO TEXTO DOS LINKS */
    border-color: #FFFFFF;
    /* cor da bordado menu de navegaçao */
    border-width: lpx;
    /*LARGURA DA BORDA DO MENU DE NAVEGAÇAO */
    border-style: solid;
    /*ESTILO DA BORDA DO MENU DE NAVEGAÇAO */
    padding: 10px;
    /*DISTANCIA ENTRE AS BORDAS DO MENU DE NAVEGAÇAO */
}

.logo img {
    height: 130px;
    /*ALTURA DA LOGO*/
    width: 90PX;
    /*LARGURA DA IMAGEM*/
}

/*CONFIGURANDO A CAIXA DE PESQUISA*/
/*CONFIGURANDO A CAIXA DE PESQUISA*/
.caixa-de-pesquisa input {
    padding: 10px;
    /*DISTANCIA ENTRE AS BORDAS DO CAMPO DE PESQUISA */
    border: 1px solid #ccc;
    /*BORDA DO CAMPO DE PESQUISA */
    border-radius: 10px;
    /*ARRENDAMENTO DAS BORDAS DO CAMPO DE PESQUISA */
    font-family: poppins, sans-serif;
    /*FONTE DO CAMPO DE PESQUISA */
    width: 300px;
    /*LARGURA DO CAMPO DE PESQUISA */
    height: auto;
    /*ALTURA DO CAMPO DE PESQUISA */
    padding-left: 50px;
}

/*CONFIGURANDO A DIV DA PESQUISA*/
.caixa-de-pesquisa {
    display: flex;
    /*EXIBE OS ELEMENTOS EM LINHA */
    justify-content: center;
    /*ALINHAMENTO HORIZONTAL DOS ELEMENTOS */
    margin-top: 10px;
    /*MARGEM SUPERIOR DA CAIXA DE PESQUISA */
    margin-bottom: 10px;
    /*MARGEM INFERIOR DA CAIXA DE PESQUISA */
    position: relative;
    /*POSIÇÃO RELATIVA PARA POSICIONAR O ICONE DE PESQUISA */
}

/*ALINHAR AS DIVS DO CABEÇALHO*/
.TOPO {
    display: flex;
    /*EXIBE OS ELEMENTOS EM LINHA */
    align-items: center;
    /*ALINHAMENTO VERTICAL DOS ELEMENTOS */
    justify-content: space-between;
    /*DISTRIBUIÇÃO DOS ELEMENTOS COM ESPAÇO ENTRE ELES */

}

/*CONFIGURANDO OS ICONES*/
.caixa-de-pesquisa img {
    height: 20px;
    /*ALTURA DO ICONE DE PESQUISA */
    width: 20px;
    /*LARGURA DO ICONE DE PESQUISA */
    position: absolute;
    /*POSIÇÃO ABSOLUTA PARA POSICIONAR O ICONE DE PESQUISA */
    left: 10px;
    /*DISTANCIA DO ICONE DE PESQUISA DA BORDA ESQUERDA DO CAMPO DE PESQUISA */
    top: 50%;
    /*ALINHAMENTO VERTICAL DO ICONE DE PESQUISA */
    transform: translateY(-50%);
    /*CENTRA O ICONE DE PESQUISA VERTICALMENTE */
}

.caixa-de-pesquisa placeholder {
    padding-left: 30px;
    /*DISTANCIA ENTRE O TEXTO DO PLACEHOLDER E O ICONE DE PESQUISA */
}

.icones a img {
    height: 30px;
    /*ALTURA DOS ICONES DE USUÁRIO E CARRINHO */
    width: 30px;
    /*LARGURA DOS ICONES DE USUÁRIO E CARRINHO */
    margin-right: 20px;
    /*DISTANCIA ENTRE OS ICONES DE USUÁRIO E CARRINHO AO LADO DIREITO */
    grid-row: 1/3;
    margin: 0;
}

/*CONFIGURANDO O TEXTO DOS ICONES DE USUÁRIO E CARRINHO*/
.icones a small {
    font-size: 10px;
    /*TAMANHO DA FONTE DO TEXTO PEQUENO */
    display: block;
    /*EXIBE O TEXTO EM UMA NOVA LINHA */
    color: #FFFFFF;
    /*COR DO TEXTO PEQUENO */
    grid-column: 2;
    grid-row: 1;
    margin: 0;
}

.icones a p {
    font-size: 12px;
    /*TAMANHO DA FONTE DO TEXTO GRANDE */
    display: block;
    /*EXIBE O TEXTO EM UMA NOVA LINHA */
    color: #FFFFFF;
    /*COR DO TEXTO GRANDE */
    grid-column: 2;
    grid-row: 2;
    margin: 0;
}

.icones a {
    text-decoration: none;
    /*REMOVE O SUBLINHADO DOS LINKS */
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto auto;
    margin: 0;
    color: #ffffff;
    margin-right: 20px;
    /*DISTANCIA ENTRE OS ICONES DE USUSARIO E CARRINHO AO LADO*/


}

/*configurando a div icones*/
.icones {
    display: flex;
    /*EXIBE OS ELEMENTOS EM LINHA */
    align-items: center;
    /*ALINHAMENTO VERTICAL DOS ELEMENTOS */
    gap: 30px;
    /*DISTANCIA ENTRE OS ELEMENTOS */
    padding-right: 10px;
}

/*CONFIGURANDO A AREA DO BANNER*/
.imagens-banner img {
    max-width: 50%;
    /*LARGURA MAXIMA DO BANNER*/
}


.banner {
    display: flex;
    /*EXIBE OS ELEMENTOS EM LINHA*/
    justify-content: space-between;
    /*DISTRIBUIÇAO DOS ELEMENTOS COM ESPAÇO ENTRE ELES*/
    align-items: center;
    /*ALINHAMENTO VERTICAL DOS ELEMENTOS*/

}

.btn-comprar {
    position: absolute;
    top: 70%;
    left: 20%;
    background-color: #A21D54;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: poppins, sans-serif;
    font-size: 18px;
    padding: 5px 20px;
    border: none;
}

.btn-anterior {
    position: absolute;
    top: 50%;
    left: 2%;
    background-color: transparent;
    color: #A21D54;
    border-radius: 50%;
    border: none;
    padding: 10px;
}

.btn-proximo {
    position: absolute;
    top: 50%;
    left: 93%;
    background-color: transparent;
    color: #A21D54;
    border-radius: 50%;
    border: none;
    padding: 10px;

}

.btn-comprar:hover {
    background-color: #f1f1f1;
    color: #A21D54;
}

.btn-anterior:hover,
.btn-proximo:hover {
    background-color: #A21D54;
    color: #FFFFFF;
}

/*configurando a area de ofertas*/

.ofertas {
    padding: 20px;
    /*DISTANCIA ENTRE O CONTEUDO DA DIV
     DE OFERTAS E AS BORDAS*/

}

/*CONFIGURANDO OS TEXTOS DAS OFERTAS*/
.titulo-ofertas {
    font-family: poppins, sans-serif;
    /*FONTE DO TITULO DAS OFERTAS*/
    display: grid;
    /*EXIBE OS ELEMENTOS EM GRADE*/
    grid-template-columns: 2 90% 10%;
    /*define o tamanho das colunas da grade*/
    grid-template-rows: 2 50% 50%;
    /*define o tamanho das linhas da grade*/
}

.titulo-ofertas h2 {
    color: firebrick;
    /* cor do titulo das ofertas */
    font-size: 24px;
    /* tamanho da fonte do titulo das ofertas */
    grid-column: 1;
    /* ocupa a primeira coluna da grade para alinhar o
        titulo ao lado direito do icone */
    grid-row: 1;
    /* ocupa a primeira linha da grade para alinhar o titulo verticalmente com o icone */
    margin: 0;
    /* remove a margem padrao do elemento h2 */
}

.titulo-ofertas p {
    color: #A21D54;
    /* cor do subtitulo das ofertas */
    font-size: 14px;
    /* tamanho da fonte do subtitulo das ofertas */
    grid-column: 1;
    /* ocupa a primeira coluna da grade para alinhar o
        subtitulo ao lado direito do icone */
    grid-row: 2;
    /* ocupa a primeira linha da grade para alinhar o subtitulo verticalmente com o icone */
    margin: 0;
    /* remove a margem padrao do elemento P */
}

.titulo-ofertas a{
    text-decoration: none;
    /*remove o sublinhado dos links*/
    color: #A21D54;
    /*cor do link do titulo das ofertas*/
    font-size: 14px;
    /*tamanho da fonte do link do titulo das ofertas*/
    grid-column: 2;
    grid-row: 2;

    /*alinha o link verticalmente no centro da grade*/
    padding-left: 80%;
    /*distancia entre o link e o titulo e subtitulo*/
}

.lista-produtos{
    display: flex; /*exibe os elementos em linha */
    justify-content: space-between;
    /*distribuicao dos elementos com espaço entre eles*/
    font-family: poppins,sans-serif; /*fonte dos produtos */
    margin-top: 20px; /*margem superior da lista de produtos*/
}

.card-produtos{
    width: 15%; /*argura de cada card de produto*/
    height: 50%; /*altura de card de produto*/
    background-color: #f1f1f1;
    /*cor de fundo de card de produto*/
    border: 1px solid #ccc; /*borda de cada card de produto*/
    border-radius: 10px;
    /*arredondamento das bordas de cada card de produto*/
    padding: 10px;
    /*distancia entre o conteudo do card e as bordas do card*/
    text-align: center; /*alinhamento do texto no centro do card*/
}

.card-produtos img{
    width: 100%; /*largura da imagem do produto*/
    height: auto; /*altura da imagem do produto*/
    margin-bottom: 10px; /*margem inferior da imagem do produto*/
    border-radius: 10px;
    /*arredondamento das bordas da imagem do produto*/
   
}
.imagem-botao{
position: relative;
/*posicao relativa para posicionar o botao de 
favorito do card do produto*/
}
.favorito{
    position: absolute;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    top: 10px;
    right: 10px;
    padding: 10px;
}
/*configurando o nome do produto*/
.card-produtos h3{
    font-size: 18px;/*define o tamanho do texto*/
    font-family: poppins, sans-serif;/*alterar fonte do texto*/
    color: #2e3f4f;/*adiciona cor do texto*/
    font-style: bold;/*deixa o texto em negrito*/
}
/*configurando o preço do produto*/
.card-produtos p{
    font-size: 14px;/*define o tamanho do texto*/
    font-family: poppins, sans-serif;/*alterar fonte do texto*/
    color: #A21D54;/*adiciona cor do texto*/
}
/*configurando o botao de adicionar ao carrinho*/
.btn-adicionar{
    border-radius: 50%;/*arrendoda o botrao*/
    background-color: #A21D54;/*cor de fundo do card*/
    border: none;
    margin-left: 80%;
    /*definir que o botao ficara no lado direito do card
    width: 100px;/*largura do botao*/
    width: 100px;/*define largura do botao*/
    height: 50px;/*definir altura do botao*/
}
.btn-adicionar img{
    width: 24px;/*alterando o tamanho do icone do carrinho*/
    padding-top: 5px;/*distanciar a imagem do topo do botao*/
}

.precos{
    display: grid;/*permite*/
    grid-template-columns: 2;/*duas linhas*/
    grid-template-rows: 1;/*1 uma linha*/
    align-items: center;
}
.p-antigo{
    grid-column: 1;
    grid-row: 1;
    text-decoration: line-through;
    font-size: 12px;
    color: #aba7a7;
}
.p-promocional{
grid-column: 2;
grid-row: 1;
font-weight: bold;
font-size: 18px;
color: #A21D54;
text-align: left;
}


/*area de avaliaçao em estrela*/

.btn-card{
    display: flex;/*modelo flexivel*/
    align-items: center;
    gap: 10px;/*espacamento entre os elementos*/
}
.btn-card img{
 width: 24px;
}
.btn-card h5{
 font-size: 14px;
}

